/*
.rules-wrapper {
text-align: center;
};
*/

.h1-intro {
color: black
};

.h1-rules {
color: black
};

.rules-p-tag{
color: rgba(0, 4, 255, 0.5);
};

.intro-p-tag{
color: rgba(0, 4, 255, 0.5);    
};

.text-box{
border: 1px;
border-style: solid;
border: solid red 2px;
}